#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
#       ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
#       ssl-default-bind-options no-sslv3
        ssl-default-bind-ciphers PROFILE=SYSTEM
        ssl-default-server-ciphers PROFILE=SYSTEM

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        timeout http-request  10s
        timeout queue  1m
        timeout connect 10s
        timeout client  1m
        timeout server  1m
        timeout http-keep-alive  10s
        timeout check  10s
        maxconn 3000

frontend api
        bind *:6443
        mode tcp
        default_backend         api

frontend machine-config
        bind *:22623
        mode tcp
        default_backend         machine-config

frontend http
        bind *:80
        mode http
        default_backend         http

frontend https
        bind *:443
        mode tcp
        default_backend https

backend api
    balance roundrobin
    mode tcp
    server {{ bootstrap.name | lower }} {{ bootstrap.ipaddr }}:6443 check
{% for m in masters %}
    server {{ m.name | lower }} {{ m.ipaddr }}:6443 check
{% endfor %}

backend machine-config
    balance roundrobin
    mode tcp
    server {{ bootstrap.name | lower }} {{ bootstrap.ipaddr }}:22623 check
{% for m in masters %}
    server {{ m.name | lower }} {{ m.ipaddr }}:22623 check
{% endfor %}

backend http
    balance roundrobin
    mode http
{% for w in workers %}
    server {{ w.name | lower }}-http-router{{ loop.index0 }} {{ w.ipaddr }}:80 check
{% endfor %}

backend https
    balance roundrobin
    mode tcp
{% for w in workers %}
    server {{ w.name | lower }}-https-router{{ loop.index0 }} {{ w.ipaddr }}:443 check
{% endfor %}
